/Agent_P2/NB_P2_AGENT_ALMIRALL/nbproject/private/
/Agent_P2/NB_P2_AGENT_ALMIRALL/build/
/Agent_P2/NB_P2_AGENT_ALMIRALL/dist/

Agent_P2/NB_P2_AGENT_ALMIRALL/cardID/

Agent_P2/NB_P2_AGENT_ALMIRALL/logs/

*.tty

Agent_P2/NB_P2_AGENT_ALMIRALL/config/

Agent_P3/NB_P3_AGENT_ALMIRALL/cardID/

Agent_P3/NB_P3_AGENT_ALMIRALL/lib/CopyLibs/

Agent_P3/NB_P3_AGENT_ALMIRALL/logs/

Agent_P3/NB_P3_AGENT_ALMIRALL/nbproject/private/
